
.scroll-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color:#f30172e5 ;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    
    &:hover {
      background-color:#c97870;
    }
  }
  